ion-toolbar {
  --background: var(--tabs);
  --color: var(--select-bg);

  h2 {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
  }
}

ion-content {
  --background: var(--main);
  --color: #fff;
}

.chart {
  background-color: var(--items-bg);
}

