<ion-header>
  <ion-toolbar>
    <ion-title>How it works</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <p class="w-full p-5">This is an basketball shooting practice traker app based on Stephen Curry routine. The proccess is very simple:</p>
  <section class="w-full flex flex-col justify-center items-center p-5 gap-2">
    <p>1. Try 5 shoots in every position marked in the court</p>
    <p>2. Select the amount of successfull shoots in each possition</p>
    <p>3. Once you have entered every number, you will see the submit button appears in the basket</p>
    <p>4. Once you click on it you will see the success rates on the top of the screen</p>
    <p>5. The result will be automatically saved into your local device memory, you can follow your progress throught the history and stats pages</p>
  </section>
  <p class="w-full p-5">Now you're ready to take your shooting practice to the next leve!!</p>
</ion-content>