<ion-header>
  <ion-toolbar>
    <ion-title class="font-semibold">How it works</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" class="font-semibold">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <p class="w-full p-5">This is a basketball shooting practice tracker app based on Stephen Curry routine. The process is very simple:</p>
  <section class="w-full flex flex-col justify-center items-center p-5 gap-2">
    <p>1. Try 5 shoots in every position marked in the court</p>
    <p>2. Select the amount of successful shoots in each position</p>
    <p>3. Once you have entered every number, you will see the submit button appears in the basket</p>
    <p>4. When you click, your success rate will be displayed at the top of the screen.</p>
    <p>5. The result will be automatically saved into your local device memory, you can follow your progress through the History and Stats pages</p>
  </section>
  <p class="w-full p-5">Now you're ready to take your shooting practice to the next level!!</p>
</ion-content>