.select-container {
  // visibility: hidden;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--select-bg);
  border: 3px solid var(--select-border);

  ion-icon {
    color: var(--select-border);
  }

  ion-select {
    visibility: hidden;  
    width: 0px;
    height: 0px;
  }

  .option-container {
    color: var(--select-border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 

    p {
      font-weight: bolder;
    }
  }
}