ion-content {
  --background: var(--main);
  --color: rgba(255,255,255,0.8);
}

ion-item {
  --background: var(--items-bg);
}

ion-toolbar {
  --background: var(--tabs);
  --color: var(--select-bg);

  h2 {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
  }
}

.themes-container {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 120px;
  justify-content: center;
  grid-gap: 40px;
  padding: 40px;

  .theme {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 9px 15px -5px var(--items-bg);

    .item-skeleton-container {
      height: 75%;
      width: 100%;
      padding: 10px 10px 0px 10px;
      border-radius: 10px 10px 0px 0px;
      background-color: var(--main);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      .item-skeleton {
        height: 15%;
        width: 100%;
        border-radius: 10px;
        background-color: var(--items-bg);
      }
    }

    .tab-skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25%;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      background-color: var(--tabs);

      p {
        font-weight: bold;
        color: var(--select-bg);
      }
    }
  }
}