ion-content {
  --background: var(--main);
  --color: rgba(255,255,255,0.8);
}

ion-item {
  --background: var(--items-bg);
}

/* section {
  background-color: var(--items-bg);
} */

ion-toolbar {
  --background: #132226
}

.themes-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;

  .theme {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 9px 15px -5px var(--items-bg);

    .item-skeleton-container {
      height: 75%;
      width: 100%;
      padding: 10px 10px 0px 10px;
      border-radius: 10px 10px 0px 0px;
      background-color: var(--main);
      // border-top: 2px solid var(--items-bg);
      // border-left: 2px solid var(--items-bg);
      // border-right: 2px solid var(--items-bg);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      .item-skeleton {
        height: 15%;
        width: 100%;
        border-radius: 10px;
        background-color: var(--items-bg);
      }
    }

    .tab-skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25%;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      background-color: var(--tabs);
      // border-bottom: 2px solid var(--items-bg);
      // border-left: 2px solid var(--items-bg);
      // border-right: 2px solid var(--items-bg);

      p {
        font-weight: bold;
        color: var(--select-bg);
      }
    }
  }
}