<ion-content [fullscreen]="true">
  <div class="w-full h-full flex justify-center items-end border border-white">
    <div class="court">
        <div class="drill-container-1">
          <button></button>
          <div class="column-container">
            <div class="two-container">
              <button></button>
              <button></button>
              <button></button>
            </div>
          </div>
        </div>
        <div class="drill-container-2">
            <button></button>
          <div class="two-container">
              <button></button>
              <button></button>
              <button></button>
          </div>
            <button></button>
        </div>
    </div>
  </div>
</ion-content>
