ion-toolbar {
  --background: var(--tabs);
  --color: var(--select-bg);

  h2 {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
  }
}

ion-content {
  --background: var(--main);
  --color: rgba(255,255,255,0.8);
}

ion-item {
  --background: var(--items-bg);
  --border-radius: 6px;
}

ion-list {
  background-color: var(--main);
}

p {
  font-size: 12px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
