<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="practice">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="stats">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="color-palette-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>