<form [formGroup]="practiceForm" class="court" (ngSubmit)="onSubmit()">
  <div class="drill-container-1">
    <select formControlName="three3">
      <option *ngFor="let item of drillShootsArr" value="{{ item }}">
        {{ item }}
      </option>
    </select>
    <div class="column-container">
      <select formControlName="three4">
        <option *ngFor="let item of drillShootsArr" value="{{ item }}">
          {{ item }}
        </option>
      </select>
      <div class="two-container">
        <select formControlName="two4">
          <option *ngFor="let item of drillShootsArr" value="{{ item }}">
            {{ item }}
          </option>
        </select>
        <select formControlName="two3">
          <option *ngFor="let item of drillShootsArr" value="{{ item }}">
            {{ item }}
          </option>
        </select>
        <select formControlName="two2">
          <option *ngFor="let item of drillShootsArr" value="{{ item }}">
            {{ item }}
          </option>
        </select>
      </div>
      <select formControlName="three2">
        <option *ngFor="let item of drillShootsArr" value="{{ item }}">
          {{ item }}
        </option>
      </select>
    </div>
  </div>
  <div class="drill-container-2">
    <select formControlName="three5">
      <option *ngFor="let item of drillShootsArr" value="{{ item }}">
        {{ item }}
      </option>
    </select>
    <div class="two-container">
      <select formControlName="two5">
        <option *ngFor="let item of drillShootsArr" value="{{ item }}">
          {{ item }}
        </option>
      </select>
      <button 
        type="submit" 
        [disabled]="!practiceForm.valid" 
        class="{{ practiceForm.valid ? '' : 'disabled' }}">
        submit
      </button>
      <select formControlName="two1">
        <option *ngFor="let item of drillShootsArr" value="{{ item }}">
          {{ item }}
        </option>
      </select>
    </div>
    <select formControlName="three1">
      <option *ngFor="let item of drillShootsArr" value="{{ item }}">
        {{ item }}
      </option>
    </select>
  </div>
</form>
